<!DOCTYPE html>
<html>
<head>
  <title>Harpuun</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">

		<li><%= link_to( image_tag("/assets/harpuunlogo.png", :width => "200"), root_url, ) %></li>

        <li><a href="#about"><%= link_to "About", about_url %></a></li>
        <% if session["user_id"] %>
			   <li><a href="#"><%= link_to "Profile", user_url(session[:user_id]) %></a></li>
        <% end %>
        <li><a href="#projectd"><%= link_to "Projects", projects_url %></a></li>
        <li><a href="#shots"><%= link_to "Shots", shots_url %></a></li>

        <% if session["user_id"] %>
        <li class="greeting">Hello, <%= User.find(session[:user_id]).first_name %>!</li><li><a href="#"><%= link_to "Sign Out", "/logout" %></a></li>
        <% else %>
        <li><a href="#"><%= link_to "Sign In", "/login" %> </a></li>
        <% end %>
      </ul>
    </div>
  </div>    

  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>

  <%= yield %>

</body>
</html>
